@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto de Despliegue d ASP:NET en Azure</p>
    <h1>Usando Web App y GitHub </h1>
</div>
